.DS_Store
*.cywrk.*
*.cyprj.*
*.cyfit
*.rpt
*.uvopt
*.uvproj
*_timing.html
*.cydsn/codegentemp
*.cydsn/DP8051
*.cydsn/CortexM3
*.cydsn/Generated_Source
**/ComponentLibrary.cycdx
**/Synth.cycdx
**/TestProj.cycdx
